html {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
    transition-duration: 300ms;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background: #2a2438;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

header, main, footer {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

#textboxAndButton {
    display: flex;
    flex-direction: row;
}

#js-text-input {
    padding: 10px;
    background: transparent;
    border: 1px solid #5c5470; 
    color: white;
    flex: 1;
}

#addBtn {
    background-color: #dbd8e3; 
    color: #2a2438;
    border: 1px solid #5c5470;
    padding: 6px; 
}

#addBtn:hover{
    background-color: #2a2438; 
    color: #dbd8e3;
    border: 1px solid #5c5470;
    padding: 6px;    
}

.plusIcon {
    font-size: 1.5rem;
    cursor: pointer;
}

.plusIcon:hover {
    color: #5c5470;
}

.fa-solid {
    cursor: pointer;
}

.fa-pen-to-square:hover {
    color: #5c5470;
}

.fa-trash:hover {
    color: #5c5470;
}

.fa-github {
    color: #dbd8e3;
}

.fa-github:hover {
    color: #5c5470;
}

#itemPopulated {
    display: flex;
    align-items: center;
    margin: 1px;
    padding: 8px;
}

.itemText {
    flex: 1;
}

#itemActions {
    display: flex;
    gap: 10px;
}

/*
Color pallet:
first-color: #dbd8e3; 
second-color: #5c5470; 
third-color: #352f44; 
fourth-color: #2a2438; 
*/

